source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/dotnet-websharper/index.json
source ../localnuget

framework: net6.0, netstandard2.0

strategy: min
storage: none

nuget WebSharper prerelease
nuget WebSharper.FSharp prerelease
nuget WebSharper.Testing prerelease
nuget WebSharper.AspNetCore prerelease
nuget WebSharper.UI prerelease

group wsbuild
    git https://github.com/dotnet-websharper/build-script websharper50

group test
    source https://api.nuget.org/v3/index.json
    nuget Chutzpah ~> 4.4.11
